<section class="site-section bg-light bg-image">
    <div class="container" style="position:initial">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <!-- <h3 class="section-sub-title">Get</h3> -->
                <h2 class="section-title mb-3">Contct Us</h2>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-7 mb-5">
                <form [formGroup]="contactForm" class="p-5 bg-white">
                    <h2 class="h4 text-black mb-5">Contact Form</h2>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="name">Full Name</label>
                            <input type="text" formControlName="name" class="form-control">
                            <control-messages style="margin-top: -10px;" [control]="contactForm.controls.name"
                                [inputElmControl]="inputControls.contact.name">
                            </control-messages>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" formControlName="email" class="form-control">
                            <control-messages style="margin-top: -10px;" [control]="contactForm.controls.email"
                                [inputElmControl]="inputControls.contact.email">
                            </control-messages>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="mobile">Mobile</label>
                            <input type="subject" formControlName="mobile" class="form-control">
                            <control-messages style="margin-top: -10px;" [control]="contactForm.controls.mobile"
                                [inputElmControl]="inputControls.contact.mobile">
                            </control-messages>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Message</label>
                            <textarea name="message" cols="30" rows="7" formControlName="message" class="form-control"
                                placeholder="Write your notes or questions here..."></textarea>
                            <control-messages style="margin-top: -10px;" [control]="contactForm.controls.message"
                                [inputElmControl]="inputControls.contact.message">
                            </control-messages>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white"
                                (click)="submit()">
                        </div>
                    </div>
                </form>
            </div> -->
            <div class="col-md-5">
                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">TRAFFIC COLONY BARKAKANA</p>

                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4"><a href="#">9113363283</a></p>

                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#">manoj@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">TRAFFIC COLONY BARKAKANA</p>

                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4"><a href="#">7903679801</a></p>

                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#">ashok@gmail.com</a></p>
                </div>
            </div>
            
        </div>
    </div>
</section>