<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" style="position: fixed;width: 300px;border-right: 10px solid;">
  <div class="row">
    <div class="col-9"><label style="color: black;font-weight: 800;"> THE PAINTING HUB </label></div>
    <div class="col-3"><mat-icon (click)="clickHandler()" style="cursor: pointer;font-size: 28px;">close</mat-icon></div>
  </div>
    <hr />
    <nav>
      <a routerLink="/" (click)="clickHandler()">Home</a>
      <hr />
      <a routerLink="/services" (click)="clickHandler()">Services</a>
      <hr />
      <a routerLink="/portfolio" (click)="clickHandler()">Portfolio</a>
      <hr />
      <a routerLink="/team" (click)="clickHandler()">Team</a>
      <hr />
      <a routerLink="/about" (click)="clickHandler()">About</a>
      <hr />
      <a routerLink="/contact" (click)="clickHandler()">Contact</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: hidden;">
    <mat-toolbar color="primary" style="height: 70px;position: fixed;">
      <mat-icon (click)="sidenav.toggle()" style="margin-left: 60px;cursor: pointer;line-height: 18px;">menu</mat-icon>
      <header>
        <label class="label_info">THE PAINTING HUB</label>
        <!-- <label class="label_info"> 7903679801</label> -->
        <nav>
          <a routerLink="/">Home</a>
          <a routerLink="/services">Services</a>
          <a routerLink="/portfolio">Portfolio</a>
          <a routerLink="/team">Team</a>
          <a routerLink="/about">About</a>
          <a routerLink="/contact">Contact</a>
        </nav>
      </header>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>