<section class="site-section border-bottom">
  <div class="container">
    <h1 style="text-align: center;font-weight: bold;margin-bottom: 50px;">PLUMBER</h1>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4" *ngFor=" let item of plumberDesign">
        <div class="team-member">
          <figure>
            <img src="{{ item.img}}" alt="Image" class="img-fluid" style="height: 350px;border: 1px solid;">
          </figure>
          <div class="prop-details p-3 div_info" style="background-color: black;">
            <!-- <div>DUPLEX</div> -->
            <div><strong class="price" st>
                <h3 style="text-align: center;color: white;">{{item.price}}</h3>
                <!-- <h3 style="text-align: center;color: white;">{{item.name}}</h3> -->
              </strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">2000 sqft.</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>