<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure style="width: 500px;">
            <img src="{{ 'images/imgs/img_11.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
        </div>
      </div>
      <div class="col-lg-5 ml-auto">
        <h2 class="section-title mb-3">We Are The Best Home Design and Home building Company</h2>
        <p class="lead">We are providing many facility which are given below</p>
        <ul class="list-unstyled ul-check success">
          <li>Naksha</li>
          <li>Structual Drawing</li>
          <li>3D Elevation</li>
          <li>Estimation</li>
          <li>Electrical Drawing</li>
          <li>Plumbing and Sanitry Drawing</li>
          <li>Construction</li>
          <li>Finishing Work</li>
          <li>Interior Design</li>
          <li>Renovation of Old Building</li>
        </ul>
      </div>
    </div>
    <div>
      
      <div>
        <h1>Our Goal</h1>
        <p>
          Our goal is to provide best, feasible and cheap services to our customers through our professionals. Our
          customer’s happiness and 100% satisfaction are our prime objective. Our purpose is to reach the door step of
          each and every household and include them a part of our growing family of happy customers and dedicated
          professionals.</p>
      </div>
      <div>
        <h1>Our Vision</h1>
        <p>
          We have technology that simplifies the process of finding the right professional service as per our customers'
          needs. It is designed to reach a step ahead and enable the users to find and hire just the right professional
          fit for their job.</p>
      </div>
      <div>
        <h1>Our Mission</h1>
        <p>
          Our mission is to provide the best services to millions of Indians in the best feasible and affordable manner.
          We aim to empower and authorize thousands of our service professionals and make them self-sustaining and for
          the same purpose, we provide related training to all our professionals before they start serving our valued
          customers.</p>
      </div>
    </div>
  </div>
</section>