.div_info{
  background: white;
}
.v1{
    border-left: 3px solid gray;
    height: 27px;  
    padding-left: 29px
}

.service_info{
background-color:blue;
color: white;
height: 70px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.service_info:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
  margin-bottom: 30px;
  cursor: pointer;
}
h3{
  line-height: 70px;
    text-align: center;
}
@media only screen and (max-width:600px){
   .col-2, .col-3, .col-4{
           flex-basis: 100%;
           height: 40px;
   }
}