.img_info{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
}
.figure_info{
  display:flex;
  justify-content: center;
}
.div_info{
  text-align: center;
  margin: 0% 10%;
}
.rating{
  text-align: center;
  color: red;
  font-size: 26px;
}
.fa-quote-left{
  margin-left: 50%;
  margin-top: 30px;
  color: red;
  font-size: 29px;
}
.colum_div{
  border: 1px solid;
  // border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.colum_div:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background:whitesmoke;
    color:black;
}

.main_div{
  // height: 500px;
  width: 250px;
}

@media only screen and (max-width:800px){
  .colum_div{
    width: 300px;
    height: 400px;
    margin-left: 10%;
  }
}